<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline %>
  </div>

  <div class="field">
    <% if params[:action] == "new" %>
      <label><%= f.radio_button :status, 1 %>対応中</label>
      <label><%= f.radio_button :status, 2 %>未対応</label>
    <% elsif params[:action] == "edit" %>
      <label><%= f.radio_button :status, 1 %>対応中</label>
      <label><%= f.radio_button :status, 2 %>未対応</label>
      <label><%= f.radio_button :status, 3 %>完了</label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
