<div class="container">
  <h1 class="mt-5">アサイン</h1>

          <% if current_user.id == @task.user_id %>
            <%= form_for @task, :url => {:action => 'assign_update'} do |f| %>
              <div class="row">
                <div class="col-md-4">
                  <div class="ml-3 mt-2">現在アサインされているユーザー</div>
                  <div class="ml-3 mt-2"><%= @task.user.name %></div>
                </div>
                <div class="col-md-4 offset-md-4">
                  <%= f.label :新しくアサインするユーザー%>
                  <%= f.collection_select :user, @users.where.not(id: current_user.id), :id, :name, {}, {class: "form-control"} %>
                </div>
              </div>

                <button type="submit" class="btn btn-success mt-3 ml-3">アサインする</button>
            <% end %>

            <div class="col-xs-12 col-md-12">
                <div class="card bg-light mt-2">
                  <div class="card-body p-5 text-dark">
                    <h1>タスク<%= @task.id %></h1>
                    <div><%= @task.title %></div>
                    <div class="mt-2">期限：<%= @task.deadline.strftime("%Y年%m月%d日 %H:%M:%S") %></div>
                    <div class="mt-2">ステータス:
                      <% if @task.status == "1" %>
                        対応中
                      <% elsif @task.status == "2" %>
                        未対応
                      <% elsif @task.status == "3" %>
                        完了
                      <% end %>
                </div>
            </div>
          <% end %>
    </div>
</div>
