<% if @task.user_id == current_user.id %>

  <h1>Editing Task</h1>

  <%= render 'form', task: @task %>

  <%= link_to 'Show', @task %> |
  <%= link_to 'Back', tasks_path %>

<% else %>
  <p>担当者以外のタスク編集は出来ません</p>

  <%= link_to 'Show', @task %> |
  <%= link_to 'Back', tasks_path %>

<% end %>