<h1>マイタスク</h1>

  <tbody>
  <%= link_to 'New Task', new_task_path %>
  <% @tasks.each do |task| %>
    <% if task.user_id == current_user.id %>
      <ul>
        <li><%= task.title %></li>
        <li>期限：<%= task.deadline %></li>
        <li>担当者：<%= task.user.name %></li>
        <li>ステータス：<% if task.status == true %>
                        対応中
                      <% else %>
                        未対応
                      <% end %>
        </li>

        <td><%= link_to '詳細', task, class: 'btn btn-default' %></td>
        <td><%= link_to '編集', edit_task_path(task), class: 'btn btn-info' %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </ul>
    <% end %>
  <% end %>

  </tbody>
</table>
