<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>ステータス:</strong>
  <% if @task.status == "1" %>
    対応中
  <% elsif @task.status == "2" %>
    未対応
  <% elsif @task.status == "3" %>
    完了
  <% end %>

</p>

<p>
  <strong>担当者:</strong>
  <%= @task.user.name %>
</p>

<%= link_to 'Back', tasks_path %>
