<div class="mx-auto">
  <h1>タスク詳細</h1>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <h1>タスク<%= @task.id %></h1>
      <ul>
        <li><%= @task.title %></li>

        <li>期限:<%= @task.deadline %></li>

        <li>担当者:<%= @task.user.name %></li>

        <li>ステータス:
          <% if @task.status == "1" %>
            対応中
          <% elsif @task.status == "2" %>
            未対応
          <% elsif @task.status == "3" %>
            完了
          <% end %>
        </li>

        <% if user_signed_in? %>
          <% if @task.user_id == current_user.id %>
            <td><%= link_to '一覧へ戻る', tasks_path, class: 'btn btn-secondary' %></td>
            <td><%= link_to '編集', edit_task_path(@task), class: 'btn btn-info' %></td>
            <td><%= link_to 'アサイン', assign_task_path(@task), class: 'btn btn-success' %></td>
          <% else %>
            <td><%= link_to '一覧へ戻る', tasks_path, class: 'btn btn-secondary' %></td>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>
