<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card bg-light mb-3 mt-5">
        <div class="card-body p-5 text-dark">
          <h1>タスク<%= @task.id %></h1>
              <div><%= @task.title %></div>
              <div class="mt-2">期限：<%= @task.deadline.strftime("%Y年%m月%d日 %H:%M:%S") %></div>
              <div class="mt-2">担当者：<%= @task.user.name %></div>
              <div class="mt-2">ステータス：
                <% if @task.status == "1" %>
                  対応中
                <% elsif @task.status == "2" %>
                  未対応
                <% elsif @task.status == "3" %>
                  完了
                <% end %>
              </div>

              <% if user_signed_in? %>
                <% if @task.user_id == current_user.id %>
                  <div class="col-md-12 mb-3 mt-2 pl-0 pr-0">
                    <%= link_to '一覧へ戻る', tasks_path, class: 'btn btn-outline-dark' %>
                    <%= link_to '編集', edit_task_path(@task), class: 'btn btn-info' %>
                    <%= link_to 'アサイン', assign_task_path(@task), class: 'btn btn-success' %>
                  </div>
                <% else %>
                  <div class="col-md-12 mb-3 mt-2 pl-0 pr-0">
                    <%= link_to '一覧へ戻る', tasks_path, class: 'btn btn-secondary' %>
                  </div>
                <% end %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
