<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Back', tasks_path %>
