<!DOCTYPE html>
<html>
  <head>
    <title>TrainingMiddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    タスク管理アプリ
  <% if user_signed_in? %>
    <%= link_to "マイタスク", mypage_show_task_path(current_user.id) %>
    <%= link_to "タスク一覧", tasks_path %>
    <%= link_to "ユーザー設定", edit_user_registration_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    ようこそ<%= current_user.name %>さん
  <% else %>
    <%= link_to "マイタスク", new_user_session_path %>
    <%= link_to "タスク一覧", tasks_path %>
    <%= link_to "ユーザー設定", edit_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>
  </body>
</html>
