<!DOCTYPE html>
<html>
  <head>
    <title>TrainingMiddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">タスク管理アプリ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイタスク", mytask_task_path(current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "タスク一覧", tasks_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー設定", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>

            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <div class="nav-link"><%= "ようこそ#{current_user.name}さん" %></div>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </nav>
    </header>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>
  </body>
</html>
